
# Uses current text as prefix for searching prev commands
"\e[A": history-search-backward
"\e[B": history-search-forward

# Use alt/Meta + Delete to remove word
"\e[3;3~": kill-word

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Don't autocomplete hidden files unless pattern starts with .
set match-hidden-files off
